In [1]:
import sys, os
if os.path.abspath("..") not in sys.path:
    sys.path.insert(0, os.path.abspath(".."))

In [2]:
from util.utilities import *

In [3]:
import pandas as pd

In [5]:
olympic_running = pd.read_csv('../data/olympic_running.csv', parse_dates=['Year'])
olympic_running

          Year  Length    Sex     Time
0   1896-01-01     100    men    12.00
1   1900-01-01     100    men    11.00
2   1904-01-01     100    men    11.00
3   1908-01-01     100    men    10.80
4   1912-01-01     100    men    10.80
..         ...     ...    ...      ...
307 2000-01-01   10000  women  1817.49
308 2004-01-01   10000  women  1824.36
309 2008-01-01   10000  women  1794.66
310 2012-01-01   10000  women  1820.75
311 2016-01-01   10000  women  1757.45

[312 rows x 4 columns]